:host {
    width: 100%;
    text-align: center;
}

.search-container {

    display: flex;
    justify-content: center;

    .close {
        position: relative;
        top: 5px;
        background: url('^./assets/icons/circle-xmark-solid.svg') no-repeat;
        background-size: 18px 18px;
        width: 18px;
        height: 18px;
        z-index: 1;
        background-position: left center;
        
        cursor: pointer;

        @media screen and (min-width: 600px) {
            right: 16px;
        }
    }
}

input {

    &.search {
        border: none;
        outline: none;
        background-color: transparent;
        width: 80%;
        text-indent: 20px;
        line-height: 2;
        background: url('^./assets/icons/magnifying-glass-solid.svg') no-repeat;
        background-size: 18px 18px;
        background-position: left center;

        position: relative;


        @media screen and (min-width: 600px) {
            border-bottom: 1px solid #bdbdbd;
        }
    }
}