.filter-full-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    .close {
        display: none;
    }


    @media screen and (max-width: 600px) {

        .close {

            display: flex;
            justify-content: flex-end;
            align-items: center;

            .btn {
                width: 50px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
            }
        }
    }



    .filter-container {

        width: 90%;
        height: 90%;
        box-sizing: border-box;
        padding: 8px 16px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 16px;

        background-color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        overflow-y: auto;


        .btn-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            position: sticky;
            bottom: -18px;
            background-color: white;


            .count {
                display: flex;
                flex: 1;
                min-height: 40px;
                align-items: center;
            }

            @media (min-width: 601px) and (max-width: 1700px) {

                flex-direction: column;

                .count {
                    margin: 8px 0;
                    min-height: unset;
                }
            }
        }

        section {
            margin-bottom: 6px;
        }

        .filter-title {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 8px;
        }

        .filter-values {
            padding-left: 16px;

            li {
                height: 25px;
                padding-left: 4px;
                margin-bottom: 4px;
                min-width: 80px;

                input,
                label {
                    cursor: pointer;
                }

                label {
                    margin-left: 4px;
                }
            }
        }

        @media screen and (max-width: 600px) {
            width: 100%;

            .filter-values {
                display: flex;
                flex-wrap: wrap;

                padding-left: 0;
            }
        }
    }
}